<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{$basePath}fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" type="text/css" href="{$basePath}css/sb-admin-2.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body class="">
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
	<script type="application/javascript" src="{$basePath}js/jquery/jquery.js"></script>
	<script type="application/javascript" src="{$basePath}js/bootstrap/bootstrap.bundle.js"></script>
	<script type="application/javascript" src="{$basePath}js/jquery-easing/jquery.easing.min.js"></script>
	<script type="application/javascript" src="{$basePath}js/sb-admin-2.js"></script>
	{/block}
</body>
</html>
